.hero-banner--winter-girl{
  .header--master__banner-image{
    left: -120px;
    top: -50px;
    @include media-query(lap-and-up){
      left: auto;
      top: -25px;
      right: 0 !important;
    }
  }

}


.form--satisfaction__a--check span {
  color:#4d4b4a !important;
  font-weight:300;
}

.form--satisfaction__q span {
  color: #4d4b4a !important;
  font-weight:400 !important;
}

.menu--site__container{
  margin-top: 0;

  @media only screen and (min-width: 960px) {
    margin-top: -2.8em;
    margin-bottom: 1.4em;
    transition: none !important;
  }
}

.site__tel {
  font-weight: bold;
  font-size:1.4em;
}

.page__content iframe{
  max-width:100% !important;
}

.header--master__lang-switch {
  font-weight: 500 !important;
}

@media only screen and (max-width: 768px) {

  .menu-item-has-children:after {
    content:none  !important;
  }
}

@media only screen and (max-width: 480px){
  .home .header--master__banner-image {
    right: -185px !important;
    top: 0;
  }
}

.price_list .prefix{
  white-space: nowrap
}
.sgpb-main-html-content-wrapper{
  padding: 0 12px !important
}
.sgpb-main-html-content-wrapper p{
  padding: 0 !important
}

.sgpb-main-html-content-wrapper h3{
  background: 0 0;
  color: #650360 !important;
  font-size: 24px;
  font-size: 1.41176rem;
  line-height: 1.04167;
  padding-left: 0;
  padding-right: 0;
}

.form--satisfaction__a--check span {
  font-size: 1rem;
  color: #333;
}

.home .page__content .sig {
  float: unset;
}

.header--master__lang-a{
  //color: white;
}

.icon--header{ width: 1.75em; height: 1.75em; vertical-align: middle; padding: 0px 0.25em; }


.lang-active {
  //border-bottom-width: 1px;
  //border-bottom-style: solid;
  //border-bottom-color: rgb(255, 255, 255);
}

.widget_nav_menu .menu__toggle--page{
  position: relative;
  background: #E0CCDF !important;
  color: $brand-col-2 !important;
  display: block;
  &:active,&:focus,&:hover{
    color: $brand-col-2 !important;
  }
  &.active{
    &:after{
      content: "\2212";
      font-size: 1.5em;
      line-height: 1.4em;

    }
  }
  &:after{
    content: "\002B";
    display: block;
    width: $act-unit * 1.5;
    height: $act-unit * 1.5;
    line-height: 1em;
    text-align: center;
    font-size: 2em;
    position: absolute;
    right: $act-unit / 1.5;
    top: 50%;
    transform: translateY(-50%);
    border: 2px solid #650360;
    border-radius: 999999px;

  }
  @include media-query('desk'){
    display: none;
  }
}

.modaal-wrapper{
  transition: opacity 0.3s ease-in-out;
}
.modaal-overlay{
  transition: opacity 0.3s ease-in-out;
}

.has-lightbox .modaal-wrapper{
//display: none !important;
  transition: opacity 0.3s ease-in-out;
  opacity: 0 !important;
}

.has-lightbox .modaal-overlay{
  //display: none !important;
  transition: opacity 0.3s ease-in-out;
  opacity: 0 !important;
}
.modaal-wrapper .ngg-galleryoverview{
  margin: 0;
}
.c-gallery__thumb-wrapper{
  margin-bottom: $act-unit-s;
  &:nth-of-type(odd){
    .c-gallery__thumb{
      margin-right: $act-unit-t;
      margin-left: 0;
    }
  }

}

.c-gallery .c-gallery__thumb{
  margin: 0;
  margin-left: $act-unit-t;
  border: none 0;
  display: flex;


  a{
    margin: 0;
    width: 60%;
  }
}
.c-gallery__description{
  background: #F7F7F7;
  //color: #fff;
  width: 40%;
  padding: $act-unit-t $act-unit-s;
  //padding-left: $act-unit-t;
  ul{
    margin-left: 1em;
  }
}

.sl-caption{
  padding: $act-unit-t !important;
  position: static !important;
  background: $brand-col-2 !important;
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    @include act-font-size($inuit-font-size-h5, 1);
  }
  li{
    display: inline-block;
    @include act-font-size($inuit-font-size-h5, 1);
    &:after{
      content : ' /'
    }

  }
}

.restylane .icon
{
  height: 37px !important;
  @include media-query(desk){
    height: 50px !important;
  }
}


.payment a{
  font-weight: bold;
  color: #650360 !important;
}

.menu-payment-plans-container .menu{
  display: flex;
}
.content__widget-area--below .widget-area{
  display: flex;
  flex-direction: column;
  @include media-query(desk){
    display: flex;
    flex-direction: row-reverse;
  }
}

.parent-logo {
  margin: 1em auto;
  height: 50px !important;
  width: auto;
}

.widget__header{
  position: relative !important;
}

/*
Welcome to Custom CSS!

To learn how this works, see http://wp.me/PEmnE-Bt
*/

.banner-reset {
  top: 0!important;
}

.contact-boxes__content .contact-boxes__label {
  //color: #fff;
}

/* Override background colour on table row */
.bg-override {
  background-color: rgba(255,255,255,0)!important;
}

.textwidget--opening-times{
  //display:none;
}

.textwidget--opening-times .title--widget{
  color: black !important;
}

.home .header--master__strap {
  top: 230px;
  left: 20px;
}

@media only screen and (min-width: 800px){

  .home .header--master__strap {
    top: 75pt;
    right: 56%;
    left: auto;
    bottom: auto;
  }
}

@media only screen and (max-width: 799px) and (min-width: 481px){
  .home .textwidget .header--master__strap {
    font-size: 1.5em;
    right: 55% !important;
    top: auto!important;
    left: auto;
    bottom: 2em!important;
  }
}

.page-template-page--header-banner-php .header--master__strap {
  color: #00a7b8 !important;
}

#text-5.textwidget--company-address{
  width: 33.333% !important;
}

/* Finance Options table styling */
.table--finance td, .table--finance th, .table--bordered td, .table--bordered th {
  border: 1px solid #ccc;
}

/* CDC Logo in Footer */
.parent-logo {
  margin: 1em auto;
  height: 50px!important;
  width: auto;
}

/* Reduce kerning on H3 Title Widget */
h3.title--widget {
  letter-spacing: 0.05em;
}

.icon--footer{
  width: 1.75em;
  height: 1.75em;
  fill: $brand-col-2;
}

.u-cc-2 ul{
  column-count: 2;
}

.u-fg-1 {
  flex-grow: 1!important;
}

.c-cta--banner{
  display: block;
  @include media-query(lap-and-up){
    display: none;
  }
}

.c-banner--no-image-2024 .header--master__banner-image{
  display: none;
}
.c-banner--no-image-2024 .header--master__strap{
  position: static;
  text-align: center;
  font-size: 4em !important;
  text-shadow: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 1.1;
}
.c-cta--banner{
  margin-top:24px;
}
.c-banner--no-image-2024 .header--master__strap br{
  display: none;
}
.header--master div, .header--master aside{
  height: 100%;
}
.c-cta--banner{
  height: auto !important
}
.c-btn--cta-book{
  padding: 0 12px !important;
  width: 300px
}

.c-link__lable--tel {
  margin-left: 6px;
  position: relative;
  top: 2px;
}

.a--icon, .a--icon .icon {
  fill: $brand-col-2--shade;
  color: $brand-col-2--shade;
}

.a--social-nav{
  display: inline-block;
  padding: 10px 12px;
  color: $brand-col-2--shade;
  margin: 0 .5em;
}
.a--icon{
  margin: 0 .5em;
}

html{
  overflow-x: hidden;
}
