.u-db,.u-d-b{
  display: block !important;
}

.u-dilb{
  display: inline-block !important;
}

.u-dil{
  display: inline !important;
}

.u-df, .u-d-f{
  display: flex !important;
}

.u-dilf{
  display: inline-flex !important;
}

.u-fw{
  flex-wrap: wrap !important;
}
