/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 29-Sep-2014, 08:59:48
    Author     : Richard
    description: styles for page-id-25 (contact us)
*/


.contact-boxes{
  //@extend .grid--full;
  //margin-bottom: $half-spacing-unit;
  display: flex;
  flex-wrap: wrap;
  //margin: 0 0 -$act-unit -$act-unit !important;
}
[class*=contact-boxes__box]{
  @extend .islet;

  height: 140px;
  background: $brand-col-4;
  margin: 0 0 4% 0;
  width: 100%;
  @include mq($from : tablet){
    width: 46% !important;
    margin: 0 4% 4% 0;
  }
}


.contact-boxes__content{
  text-align: left !important;
}
.contact-boxes__label{
  //@extend .islet;
  color: #fff;
  margin-bottom: $act-unit-t;
  display: block;
  @include act-font-size($h3-size);
  font-weight: 100;
}
.contact-boxes__deets{
  //@extend .islet;
  //background: #fff;
  margin-bottom: 0;
  text-align:  left;
  color: white;
}
a.contact-boxes__deets,
.contact-boxes__deets a{
  transition: background 0.3s ease,
  border-bottom 0.3s ease,
  box-shadow 0.3s ease,
  text-shadow 0.3s ease;
  color: white;
  &:hover{
    color: white;
    //background: rgba($brand-col-3--tint, 0.1);
    /* border-bottom: solid 1px $brand-col-3;*/
    text-shadow: 0 1px 0 rgba(#fff, 0.8);
    box-shadow: inset 0px 0px 10px rgba($brand-col-4, 1);
    background-color:rgba($brand-col-4, 0.5);

  }
}
.contact-boxes__icon{
  border: solid 1px white;
  padding: $act-unit-s;
  display: inline-block;
  border-radius: 50%;
}

.contact-boxes__tel{
  display: none !important;
  @extend .desk-one-half;
  @include x-rem(font-size, 0.9);

}
.contact-boxes__fax{
  @extend .desk-one-half;
  @include x-rem(font-size, 0.9);
}
.contact-boxes__email{
  @extend .desk-one-half;
  @include x-rem(font-size, 0.9);
  .contact-boxes__content{
    //margin-right: 0;
  }
}
.contact-boxes__address{
  @extend .desk-one-half;
  margin-bottom: 1em;
}
[id=cdc-map]{
  margin-bottom: 1em;
}
