.menu--dental-brands{
  @extend %menu--image-menu;
  .widget__header{
    margin-bottom: 0.5em;

  }
  .title--widget{
    background: $brand-col-4 !important;
    color: #fff !important;
    padding-bottom: 0.3em;
    padding-top: 0.4em;
    line-height: 1;
    text-align: center;
  }
  .widget{
    border-color: $brand-col-3--tint;
    border-width: 0px;
    margin-bottom: 1em
  }
  .menu-item{
    width: 33.333%;
    margin-bottom: 0 !important;
    @include media-query(desk){
      width:  16.6%;
    }
    a{
      margin: 0 1em !important;
    }

  }
  .menu-item:nth-of-type(5) a,
    .menu-item:nth-of-type(6) a,
    .menu-item:nth-of-type(7) a,
    .menu-item:nth-of-type(8) a{
    //border-bottom: solid 1px rgba($brand-col-1,0.3);
  }

  .menu-brands-container ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }


}

.teosyal .icon{
  height: 40px !important;
}

.elionce .icon{
  height: 55px !important;
}

.mint .icon{
  height: 40px !important;
}

.menu--dental-brands{
  @include media-query(desk) {
    width: 75% !important;
  }
}
