.menu--recommended{
  @extend %menu--image-menu;
  @include media-query(desk){
    width: 66.6666% !important;
  }
  .widget__header{
    margin-bottom: 0.5em;

  }
  .title--widget{
    background: $brand-col-4 !important;
    color: #fff !important;
    padding-bottom: 0.3em;
    padding-top: 0.4em;
    line-height: 1;
    text-align: center;
  }
  .widget{
    border-color: $brand-col-3--tint;
    border-width: 0px;
    margin-bottom: 1em;
    //height:100px;
  }
  .menu-item{
    width: 50%;
    @include media-query(desk){
      width: 25%;
    }


  }
  .menu-item:nth-of-type(5) a,
    .menu-item:nth-of-type(6) a,
    .menu-item:nth-of-type(7) a,
    .menu-item:nth-of-type(8) a{
    //border-bottom: solid 1px rgba($brand-col-1,0.3);
  }


}

