
.page{
  @extend %post__img;
}

.page__content{
  @extend .cf;

  p{
    //max-width: 36em;
    //margin: 0 auto 1em;
    a{
      @extend %link-style-1--col-2;
    }
  }
  ul, ol{
    margin-left: 1.5em;
    text-align: left;
    .rtl &{
      text-align: right;
    }
  }
  li{
    a{
      @extend %link-style-1--col-2;
    }
    max-width: 36em;
    margin: 0 0 0.5em;
  }
  dd{
    a{
      @extend %link-style-1--col-2;
    }

    max-width: 36em;
    margin: 0 auto 0;

  }
  strong em,
  em strong{
    font-style: normal;
    font-weight: 700;
    color: $brand-col-2;
  }
  h2{
    color: $brand-col-2;
    margin-bottom: 0.2em;
    font-weight: 500;
  }
  .staff{
    font-size: 0.9em;
    @extend .block-list;
    li{
      max-width: none;
      text-align: left;
      padding-top: $half-spacing-unit / 2;
      padding-bottom: $half-spacing-unit / 2;
      margin-bottom: 0;
    }

  }
  .price_list{

    @extend .table--data;
    @include font-size(14px, 1.1);
    tr:nth-of-type(odd){
      background-color:rgba($brand-col-4, 0.2); /* Override this color in your theme stylesheet */
      td{
        border-color: rgba($brand-col-4, 0.3)!important;
      }
      &:hover{
        background-color:rgba($brand-col-4, 0.25);
        td{
          border-color: rgba($brand-col-4, 0.5)!important;
        }
      }
    }
    .prefix{
      text-align: right;
      font-size: 0.8em;
    }
    .price{
      text-align: right;
      font-weight: 600;
      font-size: 1.1em;
      line-height: 1.2;
    }
    a:link, a:visited,a:active{
      color: $brand-col-2;
      border-bottom: dashed 1px $brand-col-2
    }
    tr{
      transition: background-color 0.3s ease;
      background-color:rgba(#fff, 0);
      td{
        border-bottom: solid 1px rgba(#fff, 0.3);
        vertical-align:top;
        p{
          &:last-of-type{
            margin: 0;
          }
        }

      }
      &:hover{
        background-color:rgba(#fff, 0.2);
        td{
          border-bottom: solid 1px rgba(#fff, 0.7);
        }
      }
    }
    .heading{
      background-color:rgba($brand-col-2, 1)!important;
      letter-spacing: 1px;
      td{
        border-bottom: none;
      }
      strong{
        font-size: 1.5em;
        color: #fff;
        text-shadow: 0 1px rgba(#000, 0.3);
        font-weight: 500
      }
    }
  }
  .rtl &{
    direction: rtl;
  }
}

.page__header{
  body.home &, body.page-parent &, body.page-template-page--no-title-php &{
    display:none;
  }
}
.page__content{
  text-align: justify;
  padding-left:1em;
  padding-right:1em;
  @include media-query(desk){
    padding-right:0;
  }
  //padding-right:1em;
  .sig{
    @extend .cf;
    float:right;
    margin-bottom: 1.5em;

  }

}

.page-accordion-content {
  margin: 0 0 2rem 0;
  text-align: left;

  .main-item {
    > .title {
      position: relative;
      padding: 0.4rem 1rem;
      background-color: rgba($brand-primary, 0.2);
      color: $brand-primary;
      font-size: 1.2rem;
      transition: all 0.2s;
      cursor: pointer;
      border-bottom: 1px solid white;

      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 0.7rem;
        height: 0.7rem;
        top: 50%;
        right: 1rem;
        transform: translateY(-50%) rotate(135deg);
        border-width: 0.25rem 0.25rem 0 0;
        border-style: solid;
        border-color: $brand-primary;
        transition: all 0.2s;
      }

      &:hover::after {
        border-color: white;
      }

      &.active::after {
        transform: translateY(-50%) rotate(-45deg);
      }
    }

    > .title.active,
    &:hover > .title {
      background-color: $brand-primary;
      color: white;

      &::after {
        border-color: white;
      }
    }

    .title:not(.active) ~ .items {
      display: none;
    }

    .items {
      .item {
        display: flex;
        flex-wrap: wrap;

        padding: 0.8rem 1rem;

        &:not(:last-child) {
          border-bottom: 2px solid $border-colour;
        }

        .item-title {
          padding-right: 0.5em;
          margin-bottom: 6px;
          @include media-query(lap-and-up){
            margin-bottom: 0;
          }
          a{
            color: #007d8a;
            small{
              display: block;
              @include media-query(lap-and-up){
                display: inline;
              }
            }

          }
        }
        .prefix-text{
          font-size: 0.8em;
          line-height: 2em;
        }

        .values {
          margin-left: auto;
          flex: 0 0 auto;
          //margin-top: 6px;
          @include media-query(lap-and-up){
            margin-top: 0;
          }

          .value {
           display: flex;

            .value-text {
              flex: 0 0 3rem;
              margin-left: auto;
              padding-left: 0.4rem;
              text-align: right;
              font-weight: bold;
              color: $brand-primary;
            }

            &:not(:first-child) {
              margin-top: 0.6rem;
            }
          }
        }
      }
    }
  }
}

.price-notes {
  padding: 16px;
  font-size: 0.8rem;
}